table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.pseudo_h2:first-child::after {
  content:"Certified!";
  margin-left:12px;
  padding: 2px;
  background-color:red;
  color:white;
  font-size:15px;
}